.card{
    height: auto;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    /* padding: 20px; */
}


.card-img{
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    /* background-size: contain; */
}


.card-content{
    padding: 20px;
    color: white;
}

.product-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}


/* .product-price{
    margin-bottom: 8px;
} */

.product-description{
    font-size: 14px;
    margin: 7px 0;
}

button{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(1, 1, 33);
    color: white;
    font-weight: bold;
    padding: 5px 0;
    border: 1px solid white;
    text-transform: uppercase;
}
